<header class="body-header">
  <div class="container bordered">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Secure Share</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav-bar" aria-controls="header-nav-bar"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="header-nav-bar">

        <ul class="navbar-nav mr-auto">
        </ul>

        <ul class="navbar-nav">
            {% if user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url('secure_share:SharedFileCreate') }}"><i class="fa fa-file"></i> {% trans %}Share file{% endtrans %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url('secure_share:SharedUrlCreate') }}"><i class="fa fa-globe"></i> {% trans %}Share url{% endtrans %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="api/"><i class="fa fa-exchange"></i> {% trans %}API{% endtrans %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url('admin:index') }}"><i class="fa fa-cog"></i> {% trans %}Admin{% endtrans %}</a>
              </li>
            {% endif %}
            {% if user.is_authenticated %}
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{{ url("admin:login") }}"><i class="fa fa-sign-in"></i> {% trans %}Log in{% endtrans %}</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</header>
